@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;
}

body {
  position: fixed;
  overflow: hidden;
  background-color: #333;
  height: 99vh;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 7.5vmin;
}

.header {
  width: 82vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 0;
  margin-bottom: 0.5vmin;
  height: 13%;
}

.scorebox {
  width: 11%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 13vh;
  font-size: 3vmin;
}

.score,
.best {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.2vmin;
  margin: 0 1vmin;
  border-radius: 1.5vmin;
  border: 2px solid white;
}

.score {
  background-color: #ccc;
  color: #333;
}

.best {
  background-color: #635c5c;
}

.label,
#cscore,
#best {
  margin: 0;
  padding: 0;
}

#game-board {
  /* --grid-size: 4;
  --cell-size: 20vmin;
  --cell-gap: 2vmin; */
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #ccc;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: #aaa;
  border-radius: 1vmin;
}

.tile {
  /* --x: 3;
  --y: 3;
  --background-lightness: 80%;
  --text-lightness: 20%; */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bolder;
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
